<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\FieldProvider\StaticField">
        <plugin name="Mrl_ESIKAnalyzer_StaticField"
                type="Mrl\ESIKAnalyzer\Plugin\Adapter\FieldMapper\Product\FieldProvider\StaticField" 
                sortOrder="1" 
                disabled="false"/>                                                                  
    </type>                

    <preference for="Magento\Elasticsearch\Model\Adapter\FieldMapper\AddDefaultSearchField"
               type="Mrl\ESIKAnalyzer\Model\Adapter\FieldMapper\AddDefaultSearchField" />


</config>

